.contact-section {
    position: relative;
    z-index: 2;
    /* background-image: url('../assets/contact-us-background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: linear-gradient(
        to top,
        rgba(21, 93, 103, 0.5) 0%,
        rgba(70, 197, 213, 0.3) 15%,
        rgba(21, 93, 103, 0.3) 30%,
        rgba(203, 111, 92, 0.3) 65%,
        rgba(231, 237, 242, 0.71) 97%,
        rgba(245, 246, 249, 1) 100%
      );
    padding: 0 20px 64px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 移除顶部 padding，让最后一个 item 和联络表单无缝衔接 */
  }
  
  .contact-container {
    position: relative;
    z-index: 2;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.7) 6%,
        rgba(255, 255, 255, 0.39) 30%,
        rgba(255, 255, 255, 0.19) 100%
      );
    display: flex;
    width: 100%;
    max-width: 1230px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 789px;
    gap: 8px;
    flex-direction: row;
    justify-content: center;
  }
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      height: auto;
      align-items: center;
    }
  }
  
  .contact-form-container {
    flex: 0.8 1 0%;
    padding-left: 25px;
    padding-right: 0px;
    margin-right: 5px;
    z-index: 1;
  }
  
  .contact-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .highlight {
    color: #34BFD1;
  }
  
  .contact-subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .contact-form input,
  .contact-form textarea {
    position: relative;
    z-index: 2;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0px solid #ccc;
    border-bottom: 1px solid #8E8E8E;
    background-color: transparent;
  }
  input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #8E8E8E;
  }

  .contact-form textarea {
    height: 50px;
  }
  
  .contact-form input:focus {
    outline: none;
    border: 2px solid rgba(0, 160, 204, 1);
    border-radius: 10px;
    /*box-shadow: 0 0 1px rgba(0, 160, 204, 1); /* Optional: add a shadow */

  }
  .contact-form textarea:focus {
    outline: none;
    border: 2px solid rgba(0, 160, 204, 1);
    border-radius: 10px;

  }

  .contact-item a {
    margin: 0;
    font-size: 14px;
    color: #00a8cc;
}

  .file-upload {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    background-color: #f9f9f940;
  }
  
  .file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #666;
    font-size: 16px;
  }
  
  .upload-icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  small {
    display: block;
    margin-top: 10px;
    color: #999;
    font-size: 12px;
  }
  
  .submit-button {
    background: #34BFD1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 13px;
    width: 100%;
  }
  
  .contact-map-container {
    position: relative;
    width: 608px;
    height: 746px;
    border-radius: 50px;
    /* flex: 1; */
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map {
    position: relative;
    z-index: 2;
    border-radius: 50px;
    border: 5px solid #FFFFFFB4;
    box-shadow: 0 3px 36px rgba(0, 0, 0, 0.2);
    width: 598px;
    height: 671.4px;
    background: url('../assets/map-placeholder.svg') no-repeat center;
    background-size: cover;
    margin-bottom: 25px;
    margin-top: 77px;

  }
  .map:hover {
    border: 4px solid #34BFD1;
    /* 增加陰影 */
    box-shadow: 0 3px 36px rgba(0, 0, 0, 0.2);
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .map-info {
    position: relative;
    z-index: 2;
    width: 339px;
    height: 84px;
    position: absolute;
    top: 88px;
    left: 39px;
    background: #FFFFFFF0;
    padding: 10px;
    border-radius: 21px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.map-info:hover {
    background: #FFFFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    transition: transform 0.3s ease-in-out;
}
  @media (max-width: 768px) {
    .map-info {
        display: none;
        width: 272px;
        position: absolute;
        left: 50%;
        top: 189px;
        transform: translateX(-50%);
      }
  }
  .contact-form {
    text-align: center;
  }

  .submit-button {
    background-color: #00a8cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  .map-info h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #3889C6;
    margin-top: 3px;
  }

  .map-info p {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    margin-bottom: 0px;
    color: #3889C6;
    margin-top: 7px;
}

  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .contact-icon {
    width: 24px;
    height: 24px;
  }

  .contact-item strong {
    display: block;
    font-size: 14px;
    color: #333;
  }

  .contact-item p {
    margin: 0;
    font-size: 14px;
    color: #00a8cc;
  }
  
  .map-pin-icon {
    width: 46px; /* Adjust size as needed */
    height: 68px;
    position: absolute;
    /* 水平與垂直置中 */
    top: 335.695px;
    left: 299px;
    transform: translate(-23px, -34px);
  }

  .map-pin-icon:hover {
    /* 置中放大 */
    transform: translate(-23px, -34px) scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  .contact-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 文字靠左 */
    text-align: left;
  }



  .contact-form-side {
    flex: 1;
    margin-right: 60px;
    margin-left: 60px;
    background: linear-gradient(
        to left,
        rgba(52, 191, 209, 0.7) 0%,
        rgba(52, 191, 209, 0.7) 30%,
        rgba(52, 191, 209, 0) 0%,
        rgba(52, 191, 209, 0) 100%
      );
    position: absolute;
    z-index: 1;
    display: flex;
    width: 97%;
    max-width: 1230px;
    /* border-radius: 50px; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    height: 789px;
    gap: 8px;
    z-index: 0;
  }
  @media (max-width: 1200px) {
    .contact-form-side {
        background: linear-gradient(
            to left,
            rgba(52, 191, 209, 0.7) 0%,
            rgba(52, 191, 209, 0.7) 30%,
            rgba(52, 191, 209, 0) 3%,
            rgba(52, 191, 209, 0) 100%
          );
    }
  }
  @media (max-width: 768px) {
    .contact-form-side {
      flex-direction: column;
      height: auto;
      align-items: center;
    }
  }


  .map-background-video-container {
    position: absolute;
    width: 100%;
    height: 121%;
    overflow: hidden;
    z-index: -1;
    left: 0;
    filter: blur(2px);
    /* filter: invert(50%) brightness(0.5) contrast(1.5); */
    bottom: 0px;
}
  

.map-background-video {
    position: absolute;
    bottom: -30%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -269px);
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
}

@media (max-width: 1116px) {
    /* .map-background-video {
        top: 130%;
        left: 14%;

    }
    .map-background-video {
        height: 775px;
    } */
}