.footer-section {
    background: #0a0f14;
    color: white;
    padding: 40px 20px;
  }


  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    align-items: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-logo svg {
    height: 33.74px;
  }
  .footer-logo h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    align-self: flex-start;
  }
  
  .footer-columns {
    font-size: 16px;
    color: #878787;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  @media (max-width: 446px) {
    .footer-columns {
      /*垂直置中*/
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  } 
  .footer-column {
    flex: 1;
    padding: 0 10px;
  }
  
  .footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .footer-column ul li a {
    /* color: white; */
    color: #878787;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #888;
  }
  