.team-section {
    background: linear-gradient(
        to bottom,
        rgba(21, 93, 103, 1) 9%,
        rgba(70, 197, 213, 1) 58%,
        /* rgba(159, 224, 232, 0.91) 70%, */
        /* rgba(231, 237, 242, 0.71) 83%,
        rgba(251,252,253, 0.8) 85%,
        rgba(247,248,250,1) 100% */
        rgba(159, 224, 232, 0.91) 80%,
        rgba(159, 224, 232, 1) 100%

      );
    color: white;
    background-color: #f7f8fb;
    padding: 100px 20px;
    height: 120%;
    text-align: center;
  }
  
  .team-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10%;
  }
  @media (max-width: 878px) {
    .team-container {
        margin-bottom: 55%;
    }
  }
  @media (max-width: 355px) {
    .team-container {
        margin-bottom: 110%;
    }
  }
  .team-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .team-subtitle {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .team-grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }

  @media (max-width: 1100px) {
    .team-grid {
        width: 90%;
        gap: 146px;
        /*垂直置中*/
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
    }
  }

  @media (max-width: 768px) {
    .team-grid {
        width: 95%;
        gap: 40px;
        /*垂直置中*/
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        justify-items: center;
        margin: 0 auto;
    }
  }
  
  .team-card {
    width: 131px;
    height: 273px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .team-card:hover {
    transform: scale(1.3);
    border-color: #15669750;
    border-width: 2px;
    border-style: solid;
  }
  .team-image {
    position: relative;
    height: 151px;
    margin-bottom: 0px;
    z-index: 1;
  }
  
  .team-card:hover .team-image {
    z-index: 0;
  }
  
  .background-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 131px;
    height: 155px;
  }
  
  .person-icon {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 131px;
    height: 155px;
    transition: transform 0.3s ease-in-out;
  }

  .team-card:hover .person-icon {
    /*成員照片放大25%*/
    transform: translate(-50%, -50%) scale(1.35);
  }
  
  .team-details {
    /*#156697 26% transparent*/
    background-color: #15669726;
    /*下排coner radius 18*/
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;
    height: 118px;
    transition: height 0.3s ease-out, background-color 0.3s ease-out, z-index 0.3s ease-out;
    position: relative;
    overflow: hidden;
    margin-top: auto; /* 確保底部切齊 team-card */
    flex-shrink: 0;
    z-index: 1;
  }
  
  .team-card:hover .team-details {
    height: 138px;
    background-color: rgba(21, 102, 151, 0.5);
    z-index: 10;
  }
  
  .team-details a {
    text-decoration: none;
  }
  
  .team-name {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: font-size 0.3s ease-out;
  }
  
  .team-card:hover .team-name {
    font-size: 18px;
  }
  
  .team-role {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #EDEDED;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .team-education {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    margin-bottom: 1px;
  }
  
  .team-degree {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    color: #EDEDED;
    margin-top: 1px;
    margin-bottom: 1px;
  }
