.timeline-section {
  background-image: url('../assets/timeline.svg');
  position: absolute;
  background-size: 165%;
  opacity: 0.5; 
  height: 103%;
  top: 0;
  left: 0;
  background-position: 65% 217px;
  background-repeat: no-repeat;
  color: white;
  padding: 0px;
  text-align: center;
  z-index: 3;
  width: 100%;
}
/* @media (min-width: 1278px) {
  .timeline-section {
      display: none;
  }
} */

/* 177px 以下 */
@media (max-width: 177px) {
  .hero-section {
      display: none;
    }
}

@keyframes fadeInOutWave {
  0% {
      opacity: 0.05;
  }
  100% {
      opacity: 1;
  }
}

.timeline-business {
  background-image: url('../assets/timeline-business.svg');
  animation: fadeInOutWave 5s infinite alternate;
  position: absolute;
  background-size: 75% 734px;
  opacity: 0.5;
  height: 965px;
  left: 39%;
  background-position: 16% 166px;
  background-repeat: no-repeat;
  width: 71%;
}

.timeline-business-arrow {
  background-image: url('../assets/timeline-business-arrow.svg');
  animation: fadeInOutWave 5s infinite alternate;
  position: absolute;
  background-size: 75% 734px;
  opacity: 0.5;
  height: 965px;
  left: 39%;
  background-position: 16% 166px;
  background-repeat: no-repeat;
  width: 71%;
}


.timeline-solution {
  background-image: url('../assets/timeline-solution.svg');
  animation: fadeInOutWave 5s infinite alternate;
  position: absolute;
  background-size: 75% 734px;
  opacity: 0.5;
  height: 965px;
  left: 39%;
  background-position-x: 75%;
  background-position-y: 166px;
  background-repeat: no-repeat;
  width: 50%;
}

.timeline-solution-arrow {
  background-image: url('../assets/timeline-solution-arrow.svg');
  animation: fadeInOutWave 5s infinite alternate;
  position: absolute;
  z-index: 3;
  background-size: 75% 734px;
  opacity: 0.5;
  height: 965px;
  left: 39%;
  background-position: 16% 166px;
  background-repeat: no-repeat;
  width: 71%;
}

.timeline-tech {
  background-image: url('../assets/timeline-solution-arrow.svg');
  animation: fadeInOutWave 5s infinite alternate;
  position: absolute;
  background-size: 75% 734px;
  opacity: 0.5;
  height: 965px;
  left: 39%;
  background-position: 16% 166px;
  background-repeat: no-repeat;
  width: 71%;
}